# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.dll
*.so
.env
.env.*
.venv/
venv/
Pipfile.lock
poetry.lock

# VS Code
.vscode/

# SQLite / DB
*.db
*.sqlite3
*.sqlite

# Bybit bot specific
01_pet_projects/trade_bot/users.db
01_pet_projects/trade_bot/.env
01_pet_projects/trade_bot/.env.*
01_pet_projects/trade_bot/.venv/

# Build / cache
maturin-*/
target/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb~
