ace-tools==0.0
backports.tarfile==1.2.0
brotli==1.1.0
cached-property==1.5.2
catboost==1.2.8
category-encoders==2.8.1
causalimpact==0.2.6
clickhouse-connect==0.8.18
clickhouse-driver==0.2.9
colorama==0.4.6
exceptiongroup==1.2.2
fqdn==1.5.1
h2==4.2.0
imbalanced-learn==0.13.0
importlib-metadata==8.6.1
isoduration==20.11.0
jaraco.collections==5.1.0
jupyter==1.1.1
mamba==1.5.12
munkres==1.1.4
openpyxl==3.1.5
optuna-integration==4.3.0
orbit-ml==1.1.4.9
pickleshare==0.7.5
pip-chill==1.0.3
pkgutil-resolve-name==1.3.10
psycopg2-binary==2.9.10
pyarrow==21.0.0
pycausalimpact==0.1.1
pydantic-settings==2.10.1
pyobjc-framework-cocoa==11.0
pysocks==1.7.1
python-telegram-bot==21.6
ruamel.yaml==0.18.10
swifter==1.4.0
tenacity==9.1.2
tinycss2==1.4.0
tomli==2.2.1
typing-utils==0.1.0
unicodedata2==16.0.0
uri-template==1.3.0
uvloop==0.21.0
watchdog==6.0.0
webcolors==24.11.1
